.galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.autor {
    border: 2px solid #d4a373;
    border-radius: 10px;
    background: #f9f4ef;
    padding: 20px; 
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
}

.galeria .autor {
    text-align: center;
    margin: 10px;
}

.galeria img { 
    width: 200px;
    height: 250px;
    object-fit: cover;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}

.galeria img:hover {
    transform: scale(1.1);
}

.galeria h3 {
    margin-top: 5px;
    font-size: 16px;
    color: #333;
}
